<%= image_tag(@rails_girl.picture_url, :width => 600) if @rails_girl.picture.present? %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @rails_girl.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @rails_girl.lname %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @rails_girl.sex %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rails_girl.email %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @rails_girl.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rails_girl.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @rails_girl.twitter %>
</p>

<p>
  <strong>Under 21:</strong>
  <%= @rails_girl.under_21 %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @rails_girl.operating_system %>
</p>

<p>
  <strong>Newbie:</strong>
  <%= @rails_girl.newbie %>
</p>

<p>
  <strong>Html css:</strong>
  <%= @rails_girl.html_css %>
</p>

<p>
  <strong>Dash:</strong>
  <%= @rails_girl.dash %>
</p>

<p>
  <strong>Tryruby:</strong>
  <%= @rails_girl.tryRuby %>
</p>

<p>
  <strong>Trygit:</strong>
  <%= @rails_girl.tryGit %>
</p>

<p>
  <strong>Code school:</strong>
  <%= @rails_girl.code_school %>
</p>

<p>
  <strong>Done rg before:</strong>
  <%= @rails_girl.done_rg_before %>
</p>

<p>
  <strong>Lrthw:</strong>
  <%= @rails_girl.lrthw %>
</p>

<p>
  <strong>Ror tut hartl:</strong>
  <%= @rails_girl.ror_tut_hartl %>
</p>

<p>
  <strong>Learn to program:</strong>
  <%= @rails_girl.learn_to_program %>
</p>

<p>
  <strong>Other ruby tuts:</strong>
  <%= @rails_girl.other_ruby_tuts %>
</p>

<p>
  <strong>Other rails tuts:</strong>
  <%= @rails_girl.other_rails_tuts %>
</p>

<p>
  <strong>Know another lang:</strong>
  <%= @rails_girl.know_another_lang %>
</p>

<p>
  <strong>Employed programmer:</strong>
  <%= @rails_girl.employed_programmer %>
</p>

<p>
  <strong>Rails installed:</strong>
  <%= @rails_girl.rails_installed %>
</p>

<p>
  <strong>More info:</strong>
  <%= @rails_girl.more_info %>
</p>

<p>
  <strong>Study group:</strong>
  <%= @rails_girl.study_group %>
</p>

<p>
  <strong>How:</strong>
  <%= @rails_girl.how %>
</p>

<p>
  <strong>Why:</strong>
  <%= @rails_girl.why %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @rails_girl.accepted %>
</p>

<p>
  <strong>Tweeted about:</strong>
  <%= @rails_girl.tweeted_about %>
</p>

<p>
  <strong>Rsvp response:</strong>
  <%= @rails_girl.rsvp_response %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @rails_girl.ranking %>
</p>

<%= link_to 'Edit', edit_rails_girl_path(@rails_girl) %> |
<%= link_to 'Back', rails_girls_path %>
